
  # RewriteEngine On
  # RewriteCond %{HTTPS} !=on
  # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  #etc
  php_value display_errors On
  php_value date.timezone Asia/Singapore

  #Redirect Shits
  Redirect 301 /admin_registeration /register/admin_login.php
  Redirect 301 /register/admin /register/admin_login.php
  
  Redirect 301 /admin_gallery /gallery/admin.php
  Redirect 301 /gallery/admin /gallery/admin.php

  #Error Panges
  ErrorDocument 404 /err_pange/404.html
  ErrorDocument 403 /err_pange/403.html
  ErrorDocument 500 /err_pange/500.html

  #indexs
  DirectoryIndex maintenance.html indev.html  closed_member.html index.html index.php
