#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Redirect SHits
Redirect 301 "/admin" "/register/admin_login.php"

DirectoryIndex indev.html ki14.html index.html ki14.php index.php 